<div class="blog-post">
  <div class="blog-post__header">
    <a href="/admin/dashboard" class="breadcrumb">Tillbaka</a>
    <h1 class="center margin-bottom"><%= data?.title %></h1>
  </div>
  <p class="blog-post-body"><%= data?.body %></p>
</div>