/*===============================================
Main layout
===============================================*/
body {
  transition: background-color 0.75s ease-out;
}

.header {
  grid-area: header;
  width: 100%;
}

.main {
  padding: 0 1em;
  margin-bottom: 1em;
}
