<header class="header">
  <p class="header__logo">&lt;&gt; Kodlus' blog &lt;/&gt;</p>

  <label for="hamburger" class="hamburger-icon">&#9776;</label>
  <input type="checkbox" id="hamburger"/>

  <nav class="header__nav" id="hamnav">
      <a href="/" class="nav__link link-reset">Hem</a>
      <a href="/posts" class="nav__link link-reset">Inlägg</a>
      <a href="/about" class="nav__link link-reset">Om bloggen</a>
      <a href="/projects" class="nav__link link-reset">Projekt</a>
      <a href="/login" class="nav__link link-reset">Admin</a>
  </nav>
</header>