<header class="header">
  <p class="header__logo">&lt;&gt; Kodlus' blog &lt;/&gt;</p>
  <nav class="header__nav">
    <a href="/" class="nav__link link-reset">Hem</a>
    <a href="/posts" class="nav__link link-reset">Inlägg</a>
    <a href="/about" class="nav__link link-reset">Om bloggen</a>
    <a href="/projects" class="nav__link link-reset">Projekt</a>
    <a href="/login" class="nav__link link-reset">Admin</a>
  </nav>
</header>