/*===============================================
Mixin 
===============================================*/
@use "../utilities/_mixins" as m;

/*===============================================
About page
===============================================*/
.about-page {
  @include m.maxWidth;
}

.about-page__content {
  line-height: 1.6;
  white-space-collapse:preserve-breaks;
}

.about-page__profile-img {
  width: 175px;
  height: 175px;
  border-radius: 50%;
  margin: 0 auto;
}
