<div class="about-page">
  <h1 class="center margin-bottom">Bloggen i korta drag</h1>
  <img 
    src="/images/profil_bild.jpg" 
    alt="Självporträtt av Kodlus" 
    class="about-page__profile-img"
  >

  <p class="about-page__content">  
    Hej och välkommen till min hemmabyggda, minimalistiska blogg! Projektet började med en enkel tanke: att skapa en blogg från grunden, hur svårt kan det egentligen vara? Tydligen rätt svårt, om man vill skapa en någorlunda robust och säker blogg. Men fy skam för den som ger sig. Bloggen är inte 100% färdig, men den funkar som tänkt.
    
    Jag är särskilt tacksam för Youtuberna <a href="https://www.youtube.com/@DaveGrayTeachesCode">Dave Gray</a>, <a href="https://www.youtube.com/c/RaddyDev">Raddy</a>, och <a href="https://www.youtube.com/@NetNinja">Net Ninja</a>, samt MDN:s <a href="https://developer.mozilla.org/en-US/docs/Learn/Server-side/Express_Nodejs/Introduction">introduktion till Express/Node</a>. Utan dessa kunskapskällor hade det varit betydligt krångligare att bygga och hosta bloggen. 

    Kontakta mig gärna på <a href="https://se.linkedin.com/in/niklas-hofstad">LinkedIn</a> om jobb eller sammarbeten. I dagsläget är jag öppen för det mesta som kan förverkliga mitt mål att jobba med webbutveckling. 
  </p>

  <br>
  
  <span>Kodlus, <br> 2024-07-27</span>
</div>

