<div class="about-page">
  <h1 class="center margin-bottom">Bloggen i korta drag</h1>
  <img 
    src="/images/profil_bild.jpg" 
    alt="Självporträtt av Kodlus" 
    class="about-page__profile-img"
  >

  <p class="about-page__content">  
    Hej och välkommen till min minimalistiska blog om: kodning; ämnen rörande digitala medier; och annat! Jag har sedan barnsben haft ett intresse för teknologi. Våren 2021 tog jag examen i medievetenskap från Karlstads universitet. Programmet jag läste var Medier och Kommunikation: Digitala Medier och Analys. Studierna gav mig många insikter om vårt samhälle i relation till digitala medier, särskilt gällande integritetsfrågor. 
    
    Det var också här jag för första gången kom i kontakt med kodning. Projekten var små (en halvdan plugin-baserad Wordpress-hemsida och några analyser i R), men de väckte en nyfikenhet för kodning. Jag ville förstå byggsterna och skapa mina egna alster från grunden. Så, 2022 valde jag att studera webbutveckling i egen takt. Mina studier baseras primärt på kursen Frontend Career Path på Scrimba, vars moduler täckte allt från grundläggande HTML till React. 

    Bloggen är en milstolpe i min webbutvecklare-karriär. För ett år sedan visste jag nästan ingenting om backend-kodning. I en modul om React Router kom jag i kontakt med backend genom MirageJS, en sorts faux backend för frontendutvecklare. Kommunikationen mellan frontend, server, och databas fascinerade mig och jag fortsatte fördjupa mig inom olika backend-lösningar på egen hand. Resultatet av mitt sidospår blev denna blog. Bloggen är byggd med NodeJS, Express, EJS, och MongoDB.

    Kontakta mig gärna på <a href="https://se.linkedin.com/in/niklas-hofstad">LinkedIn</a> om jobb eller sammarbeten. I dagsläget är jag öppen för det mesta som kan förverkliga mitt mål att jobba som webbutvecklare. 
  </p>

  <br>
  
  <span>Kodlus, <br> 2024-07-18</span>
</div>
