<h1 class="center margin-bottom">Några av mina projekt:</h1>

<div class="projects">
  <div class="project">
    <h3>Quizzical</h3>
    <p>
      Ett frågespel gjord med React. Applikationen använder sig av OpenTriviaDB:s API för att generera frågor och svar till spelaren.
    </p>
    <a href="https://kodlus-quizzical.netlify.app/" target="_blank" >
      Webbsida
    </a>
    <a href="https://github.com/kodlus/quizzical" target="_blank">
      GitHub
    </a>
  </div>

  <div class="project">
    <h3>Hypotetisk bandsida</h3>
    <p>
      En hypotetisk bandwebbsida för ett medelstort band. Framträdande funktioner är... Gjord med React och React Router.
    </p>

    <p>
      Kommer så småningom till GitHub
    </p>
  </div>
</div>
