<h1>Register page</h1>

<form action="/register" method="POST">
  <label for="username"><b>Username</b></label>
  <input type="text" placeholder="Enter Username" name="username" id="username">
  
  <label for="password"><b>Password</b></label>
  <input type="password" placeholder="Enter password" name="password" id="password">

  <input type="submit" value="Register" class="btn">
</form>