/*===============================================
Setting up SCSS
===============================================*/
/*===============================================
Modules
===============================================*/
/*===============================================
Modules
===============================================*/
/*===============================================
Reset
===============================================*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
}

button {
  cursor: pointer;
}

/*===============================================
Typography
===============================================*/
body {
  font-family: monospace, Arial, Helvetica, sans-serif;
}

.blog-post-body,
.form__body {
  white-space-collapse: preserve-breaks;
}

/*===============================================
Mixin and Variables
===============================================*/
/*===============================================
Mixins
===============================================*/
/*===============================================
Latest blog post
===============================================*/
.latest-blog-post {
  width: 100%;
  max-width: 40em;
  margin: 0 auto;
  margin-bottom: 10em;
  position: relative;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.latest-blog-post::before {
  content: "";
  background: black;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  height: 50%;
  width: 2px;
}

.latest-blog-post::after {
  content: "";
  background: black;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  height: 50%;
  width: 2px;
}

.latest-blog-post__header {
  text-align: center;
  padding: 1em;
}

.latest-blog-post__body {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  gap: 40px;
  max-width: 40em;
  padding: 1em 1.3em;
}

.latest-blog-post__img {
  max-width: 400px;
  border-radius: 10px;
  margin: 0 auto;
}

/*===============================================
Header
===============================================*/
.header {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  padding: 2em 1em;
  margin-bottom: 3em;
}

.header__logo {
  font-size: 2rem;
  font-weight: 900;
}

.header__nav {
  flex-direction: column;
  justify-content: center;
}

/*===============================================
Burger menu
===============================================*/
#hamburger {
  display: none;
  position: relative;
}

#hamnav {
  display: none;
}

/* (B) HORIZONTAL MENU ITEMS */
#hamburger__items {
  display: flex;
  align-items: center;
}

#hamburger__items a {
  flex-grow: 1;
  flex-basis: 0;
  padding: 10px;
  text-align: center;
}

/* (C) HIDE HAMBURGER */
#hamnav label {
  display: none;
}

/* [ON SMALL SCREENS] */
@media screen and (max-width: 768px) {
  /* (A) BREAK INTO VERTICAL MENU */
  #hamburger__items a {
    display: block;
    width: 100%;
    border-top: 1px solid #333;
  }
  /* (B) SHOW HAMBURGER ICON */
  .header label {
    display: inline-block;
    margin: 0 auto;
    color: black;
    font-style: normal;
    font-size: 1.2em;
    padding: 10px;
    position: fixed;
    background-color: white;
    height: 50px;
    width: 50px;
    border: 1px solid black;
    border-radius: 50px;
    text-align: center;
    z-index: 9;
    bottom: 25px;
    right: 25px;
  }
  /* (C) TOGGLE SHOW/HIDE MENU */
  #hamburger__items {
    display: none;
  }
  .header input:checked ~ #hamnav {
    position: fixed;
    bottom: 95px;
    right: 0;
    width: 150px;
    background-color: white;
    padding: 1em;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    z-index: 9;
    animation: transitionIn 0.5s;
  }
}
/*===============================================
Media queries
===============================================*/
@media screen and (max-width: 720px) {
  .header__logo {
    font-size: 1.5rem;
    font-weight: 900;
  }
}
/*===============================================
Mixin and Variables
===============================================*/
/*===============================================
Mixin
===============================================*/
/*===============================================
Blog posts list
===============================================*/
.blog-posts-list {
  width: 100%;
  max-width: 40em;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

/*===============================================
Variables
===============================================*/
/*===============================================
Blog posts preview
===============================================*/
.blog-post-preview {
  padding: 0.7em;
  margin-bottom: 5px;
  position: relative;
}

.blog-post-preview::before {
  content: "";
  background: black;
  position: absolute;
  top: 0;
  left: 0;
  height: 2px;
  width: 30px;
}

.blog-post-preview::after {
  content: "";
  background: black;
  position: absolute;
  bottom: 0;
  right: 0;
  height: 2px;
  width: 30px;
}

.blog-post-preview__header {
  display: flex;
  flex-direction: column;
  gap: 7px;
  text-align: center;
  margin-bottom: 0.7em;
}

.blog-post-preview__header::before {
  content: "";
  background: black;
  position: absolute;
  top: 0;
  left: 0;
  height: 30px;
  width: 2px;
}

.blog-post-preview__button {
  display: block;
  background: none;
  border: none;
  border-bottom: 1px solid black;
  padding: 0.5em;
  margin: 0 auto 1em auto;
}

.blog-post-preview__body {
  height: 0px;
  display: flex;
  align-items: center;
  overflow-y: hidden;
  transition: height linear 0.3s;
  max-width: 40em;
  margin: 0 auto;
}

.blog-post-preview__body::before {
  content: "";
  background: black;
  position: absolute;
  bottom: 0;
  right: 0;
  height: 30px;
  width: 2px;
}

.blog-post-preview__body.expanded {
  height: 50px;
}

/*===============================================
Main layout
===============================================*/
body {
  background-color: rgb(255, 229, 199);
  /*   display: grid;
    grid-template-columns: auto minmax(10em, 40em) auto;

    grid-template-areas: 
      "header header header"
      ". content ."
    ; */
  transition: background-color 0.75s ease-out;
}

.header {
  grid-area: header;
  width: 100%;
}

.main {
  padding: 0 1em;
  margin-bottom: 1em;
}

/*===============================================
Mixin and Variables
===============================================*/
/*===============================================
Mixin 
===============================================*/
/*===============================================
About page
===============================================*/
.about-page__content {
  width: 100%;
  max-width: 40em;
  margin: 0 auto;
  line-height: 1.6;
  white-space-collapse: preserve-breaks;
}

.about-page__profile-img {
  width: 175px;
  height: 175px;
  border-radius: 50%;
  margin: 0 auto;
}

/*===============================================
Breadcrumb
===============================================*/
.breadcrumb {
  display: block;
}

/*===============================================
Page transition animation
borrowed from https://www.youtube.com/watch?v=zWB219zf1og
===============================================*/
.main {
  animation: transitionIn 0.75s;
}

@keyframes transitionIn {
  from {
    opacity: 0;
    transform: rotateX(-10deg);
  }
  to {
    opacity: 1;
    transform: rotateX(0deg);
  }
}
@keyframes transitionOut {
  from {
    opacity: 1;
    transform: rotateX(0deg);
  }
  to {
    opacity: 0;
    transform: rotateX(-10deg);
  }
}
/*===============================================
Links
===============================================*/
a {
  transition: color 250ms ease-in;
}

a:hover,
a:focus {
  color: rgb(241, 174, 27);
}

/*===============================================
Light switch animation
===============================================*/
.light-switch.triggered {
  animation: bounce 0.75s;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(5px);
  }
  0% {
    transform: translateY(0);
  }
}
/*===============================================
Light switch
===============================================*/
.light-switch {
  background-color: black;
  height: 50px;
  width: 2px;
  border: 1px solid black;
  overflow: visible;
  position: absolute;
  right: 25%;
  top: -5px;
  cursor: pointer;
}

.light-switch::after {
  content: "";
  background-color: black;
  width: 8px;
  height: 8px;
  position: absolute;
  top: 45px;
  left: 50%;
  transform: translateX(-50%);
}

/*===============================================
Media queries
===============================================*/
@media (max-width: 768px) {
  .light-switch {
    right: 5%;
  }
}
/*===============================================
Dark mode
===============================================*/
.dark-mode {
  background-color: rgb(70, 70, 70);
  color: white;
}
.dark-mode .blog-post-preview__button {
  color: white;
}
.dark-mode a {
  color: rgb(255, 197, 158);
}
.dark-mode #hamnav a {
  color: black;
}
.dark-mode #hamnav a:hover,
.dark-mode #hamnav a:focus {
  color: rgb(158, 86, 4);
}

/*===============================================
Mixin and Variables
===============================================*/
/*===============================================
Mixin
===============================================*/
/*===============================================
Form
===============================================*/
.form-header {
  width: 100%;
  max-width: 40em;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.form {
  width: 100%;
  max-width: 40em;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.form__label {
  margin-bottom: 7px;
}

.form__input {
  padding: 0.7em;
  margin: 0 auto;
  margin-bottom: 20px;
  width: 100%;
  max-width: 200px;
}

.form__body {
  margin-bottom: 20px;
}

.form__btn {
  width: 100%;
  max-width: 200px;
  padding: 1em;
  margin: 0 auto;
  margin-top: 10px;
}

/*===============================================
Mixin and Variables
===============================================*/
/*===============================================
Mixin 
===============================================*/
/*===============================================
Projects
===============================================*/
.projects,
.project {
  display: flex;
  flex-direction: column;
}

.projects {
  gap: 25px;
  width: 100%;
  max-width: 40em;
  margin: 0 auto;
}

.project {
  gap: 7px;
}

.project a {
  display: block;
}

/*===============================================
Mixin and Variables
===============================================*/
/*===============================================
Mixin
===============================================*/
/*===============================================
Blog post
===============================================*/
.blog-post {
  width: 100%;
  max-width: 40em;
  margin: 0 auto;
}

.blog-post__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

/*===============================================
Header
===============================================*/
.admin-nav {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
  max-width: 40em;
}

/*===============================================
Utility classes
===============================================*/
.link-reset {
  text-decoration: none;
  color: inherit;
}

.active {
  font-weight: 700;
  color: red;
  text-decoration: underline;
  text-underline-offset: 5px;
}

.center {
  text-align: center;
}

.column {
  display: flex;
  flex-direction: column;
}

.float {
  width: 100px;
  height: 100px;
  margin: 0 15px;
  border-radius: 100%;
  float: left;
}

.helper-title {
  display: none;
  font-size: 1.2rem;
}
@media (max-width: 768px) {
  .helper-title {
    display: block;
  }
}

.margin-bottom {
  margin-bottom: 0.7em;
}

.max-width-unset {
  max-width: unset;
}

.max-width {
  max-width: 40em;
  margin: 0 auto;
}

.underline {
  text-decoration: underline;
}

/*# sourceMappingURL=output.css.map */
