/*===============================================
Setting up SCSS
===============================================*/
/*===============================================
Modules
===============================================*/
/*===============================================
Modules
===============================================*/
/*===============================================
Reset
===============================================*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
}

/*===============================================
Typography
===============================================*/
body {
  font-family: monospace, Arial, Helvetica, sans-serif;
}

.blog-post-body,
.form__body,
.about-page__content {
  white-space-collapse: preserve-breaks;
}

.project,
.blog-post-body,
.about-page {
  line-height: 1.6;
}

/*===============================================
Mixin and Variables
===============================================*/
/*===============================================
Mixins
===============================================*/
/*===============================================
Latest blog post
===============================================*/
.latest-blog-post {
  width: 100%;
  max-width: 40em;
  margin: 0 auto;
  min-height: 20em;
  margin-bottom: 10em;
  position: relative;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.latest-blog-post::before {
  content: "";
  background: black;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  height: 50%;
  width: 2px;
}

.latest-blog-post::after {
  content: "";
  background: black;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  height: 50%;
  width: 2px;
}

.latest-blog-post__header {
  text-align: center;
  padding: 1em;
}

.latest-blog-post__body {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  gap: 40px;
  max-width: 40em;
  padding: 1em 1.3em;
}

.latest-blog-post__img {
  max-width: 400px;
  border-radius: 10px;
  margin: 0 auto;
}

/*===============================================
Header
===============================================*/
.header {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  padding: 2em 1em;
  margin-bottom: 3em;
}

.header__logo {
  font-size: 2rem;
  font-weight: 900;
}

.header__nav {
  display: flex;
}

.header__nav {
  justify-content: space-between;
  gap: 25px;
}

/*===============================================
Burger menu
https://code-boxx.com/simple-responsive-pure-css-hamburger-menu/
===============================================*/
#hamburger {
  display: none;
  position: relative;
}

/* (B) HORIZONTAL MENU ITEMS */
#hamburger__items {
  display: flex;
  align-items: center;
}

#hamburger__items a {
  flex-grow: 1;
  flex-basis: 0;
  padding: 10px;
  text-align: center;
}

.hamburger-icon {
  display: none;
}

@media screen and (max-width: 768px) {
  #hamburger__items a {
    display: block;
    width: 100%;
    border-top: 1px solid #333;
  }
  .hamburger-icon {
    display: inline-block;
    margin: 0 auto;
    font-style: normal;
    font-size: 1.2em;
    padding: 10px;
    position: fixed;
    height: 50px;
    width: 50px;
    border: 1px solid black;
    border-radius: 50px;
    text-align: center;
    z-index: 9;
    bottom: 40px;
    right: 25px;
  }
  .hamburger-icon:active {
    transform: scale(1.1);
    transition: transform 0.2s ease;
  }
  .header__nav {
    display: none;
  }
  .header input:checked ~ .header__nav {
    position: fixed;
    bottom: 95px;
    right: 0;
    width: 150px;
    padding: 50px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    text-align: center;
    z-index: 9;
    animation: transitionIn 0.3s;
  }
}
/*===============================================
Media queries
===============================================*/
@media screen and (max-width: 768px) {
  .header__logo {
    font-size: 1.5rem;
    font-weight: 900;
  }
}
/*===============================================
Mixin and Variables
===============================================*/
/*===============================================
Mixin
===============================================*/
/*===============================================
Blog posts list
===============================================*/
.blog-posts-list {
  width: 100%;
  max-width: 40em;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

/*===============================================
Variables
===============================================*/
/*===============================================
Blog posts preview
===============================================*/
.blog-post-preview {
  padding: 0.7em;
  margin-bottom: 5px;
  position: relative;
}

.blog-post-preview::before {
  content: "";
  background: black;
  position: absolute;
  top: 0;
  left: 0;
  height: 2px;
  width: 30px;
}

.blog-post-preview::after {
  content: "";
  background: black;
  position: absolute;
  bottom: 0;
  right: 0;
  height: 2px;
  width: 30px;
}

.blog-post-preview__header {
  display: flex;
  flex-direction: column;
  gap: 7px;
  text-align: center;
  margin-bottom: 0.7em;
}

.blog-post-preview__header::before {
  content: "";
  background: black;
  position: absolute;
  top: 0;
  left: 0;
  height: 30px;
  width: 2px;
}

.blog-post-preview__button {
  display: block;
  background: none;
  border: none;
  border-bottom: 1px solid black;
  padding: 0.5em;
  margin: 0 auto 1em auto;
}

.blog-post-preview__body {
  height: 0px;
  display: flex;
  align-items: center;
  overflow-y: hidden;
  transition: height linear 0.3s;
  max-width: 40em;
  margin: 0 auto;
}

.blog-post-preview__body::before {
  content: "";
  background: black;
  position: absolute;
  bottom: 0;
  right: 0;
  height: 30px;
  width: 2px;
}

.blog-post-preview__body.expanded {
  height: auto;
}

/*===============================================
Main layout
===============================================*/
body {
  transition: background-color 0.75s ease-out;
  position: relative;
}

.header {
  grid-area: header;
  width: 100%;
}

.main {
  padding: 0 1em;
  margin-bottom: 100px;
}

/*===============================================
Mixin and Variables
===============================================*/
/*===============================================
Mixin 
===============================================*/
/*===============================================
About page
===============================================*/
.about-page {
  width: 100%;
  max-width: 40em;
  margin: 0 auto;
}

.about-page__content {
  line-height: 1.6;
  white-space-collapse: preserve-breaks;
}

.about-page__profile-img {
  width: 175px;
  height: 175px;
  border-radius: 50%;
  margin: 0 auto;
}

/*===============================================
Breadcrumb
===============================================*/
.breadcrumb {
  display: block;
}

/*===============================================
Page transition animation
borrowed from https://www.youtube.com/watch?v=zWB219zf1og
===============================================*/
.main {
  animation: transitionIn 0.75s;
}

@keyframes transitionIn {
  from {
    opacity: 0;
    transform: rotateX(-10deg);
  }
  to {
    opacity: 1;
    transform: rotateX(0deg);
  }
}
@keyframes transitionOut {
  from {
    opacity: 1;
    transform: rotateX(0deg);
  }
  to {
    opacity: 0;
    transform: rotateX(-10deg);
  }
}
/*===============================================
Links
===============================================*/
a {
  transition: color 250ms ease-in;
  color: rgb(0, 69, 82);
}

a:hover,
a:focus {
  color: rgb(165, 19, 19);
}

/*===============================================
Light switch animation
===============================================*/
.light-switch.triggered {
  animation: bounce 0.75s;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(5px);
  }
  0% {
    transform: translateY(0);
  }
}
/*===============================================
Light switch
===============================================*/
.light-switch {
  background-color: black;
  height: 50px;
  width: 2px;
  border: 1px solid black;
  overflow: visible;
  position: absolute;
  right: 25%;
  top: -5px;
  cursor: pointer;
}

.light-switch::after {
  content: "";
  background-color: black;
  width: 8px;
  height: 8px;
  position: absolute;
  top: 45px;
  left: 50%;
  transform: translateX(-50%);
}

/*===============================================
Media queries
===============================================*/
@media (max-width: 768px) {
  .light-switch {
    right: 5%;
  }
}
/*===============================================
Mixin and Variables
===============================================*/
/*===============================================
Mixin
===============================================*/
/*===============================================
Form
===============================================*/
.form-header {
  width: 100%;
  max-width: 40em;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.form {
  width: 100%;
  max-width: 40em;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.form__input,
.form__btn {
  width: 100%;
  max-width: 200px;
  padding: 1em;
  border: 1px solid black;
  margin: 0 auto;
}

.form__label {
  margin-bottom: 7px;
}

.form__input {
  margin: 0 auto;
  margin-bottom: 20px;
}

.form__body {
  margin-bottom: 20px;
}

.form__btn {
  margin-top: 10px;
  font-family: inherit;
  font-size: 0.9rem;
  transition: background-color 0.25s ease-in;
}

/*===============================================
Mixin and Variables
===============================================*/
/*===============================================
Mixin 
===============================================*/
/*===============================================
Projects
===============================================*/
.projects,
.project {
  display: flex;
  flex-direction: column;
}

.projects {
  gap: 25px;
  width: 100%;
  max-width: 40em;
  margin: 0 auto;
}

.project {
  gap: 7px;
}

.project a {
  display: block;
}

/*===============================================
Mixin and Variables
===============================================*/
/*===============================================
Mixin
===============================================*/
/*===============================================
Blog post
===============================================*/
.blog-post {
  width: 100%;
  max-width: 40em;
  margin: 0 auto;
}

.blog-post__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

/*===============================================
Header
===============================================*/
.admin-nav {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
  max-width: 40em;
}

/*===============================================
Footer
===============================================*/
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 1em;
  font-size: 12px;
}

.pagination {
  margin: 0 auto;
  display: flex;
  gap: 10px;
}

/*===============================================
Variables
===============================================*/
body {
  background-color: #e9c46a;
  color: #1d1d1d;
}
body a {
  color: #264653;
}
body .blog-post-preview__button {
  color: #1d1d1d;
}
body .hamburger-icon {
  background-color: #ffffff;
  color: black;
}
body .form__btn {
  background-color: #2a9d8f;
  color: #ffffff;
}
body .form__btn:hover,
body .form__btn:focus {
  background-color: #264653;
}
body .form__btn--danger {
  background-color: rgb(255, 124, 124);
  color: #ffffff;
}
body .form__btn--danger:hover,
body .form__btn--danger:focus {
  background-color: rgb(255, 124, 124);
  background-color: rgb(248, 51, 51);
  color: #1d1d1d;
}
body .active {
  color: #264653;
}
body .danger {
  color: #9f0000;
}
body .footer {
  background-color: #1d1d1d;
  color: #ffffff;
}
@media screen and (max-width: 768px) {
  body .header input:checked ~ .header__nav {
    background-color: #ffffff;
  }
}

/*===============================================
Variables
===============================================*/
/*===============================================
Dark mode
===============================================*/
.dark-mode {
  background-color: #212d40;
  color: #d6d5d5;
}
.dark-mode a {
  color: #f5a816;
}
.dark-mode .blog-post-preview::before,
.dark-mode .blog-post-preview::after,
.dark-mode .blog-post-preview__header::before,
.dark-mode .blog-post-preview__body::before,
.dark-mode .latest-blog-post::before,
.dark-mode .latest-blog-post::after,
.dark-mode .light-switch::after {
  background: #d6d5d5;
}
.dark-mode .light-switch {
  border-color: #f5a816;
}
.dark-mode .blog-post-preview__button {
  color: #d6d5d5;
  border-bottom-color: #d6d5d5;
}
.dark-mode .latest-blog-post {
  border-top-color: #d6d5d5;
  border-bottom-color: #d6d5d5;
}
.dark-mode .nav__link,
.dark-mode .sub-nav__link,
.dark-mode .header__button a {
  color: #d6d5d5;
}
.dark-mode .active {
  color: #f5a816;
}
.dark-mode .form__btn:hover,
.dark-mode .form__btn:focus {
  background-color: #a9f7a9;
  color: #11151c;
}
.dark-mode .form__btn--danger {
  background-color: #ff7171;
  color: #11151c;
}
.dark-mode .form__btn--danger:hover,
.dark-mode .form__btn--danger:focus {
  background-color: #f7a9a9;
}
.dark-mode .danger {
  color: #ff7171;
}
@media screen and (max-width: 720px) {
  .dark-mode .nav__link {
    color: #11151c;
  }
}

/*===============================================
Utility classes
===============================================*/
.link-reset {
  text-decoration: none;
  color: inherit;
}

.active {
  font-weight: 700;
  text-decoration: underline;
  text-underline-offset: 5px;
}

.center {
  text-align: center;
}

.column {
  display: flex;
  flex-direction: column;
}

.float {
  width: 100px;
  height: 100px;
  margin: 0 15px;
  border-radius: 100%;
  float: left;
}

.helper-title {
  display: none;
  font-size: 1.2rem;
}
@media (max-width: 768px) {
  .helper-title {
    display: block;
  }
}

.margin-bottom {
  margin-bottom: 0.7em;
}

.max-width-unset {
  max-width: unset;
}

.max-width {
  max-width: 40em;
  margin: 0 auto;
}

.underline {
  text-decoration: underline;
}

/*# sourceMappingURL=output.css.map */
