/*===============================================
Mixin
===============================================*/
@use "../utilities/_mixins" as m;

/*===============================================
Blog post
===============================================*/
.blog-post {
  @include m.maxWidth;
}

.blog-post__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}