/*===============================================
Mixin
===============================================*/
@use "../utilities/_mixins" as m;

/*===============================================
Blog posts list
===============================================*/
.blog-posts-list {
  @include m.maxWidth;
  display: flex;
  flex-direction: column;

  gap: 25px;
}
