/*===============================================
Mixin
===============================================*/
@use "../utilities/_mixins" as m;

/*===============================================
Form
===============================================*/
.form-header {
  @include m.maxWidth;
  display: flex;
  flex-direction: column;
}

.form {
  @include m.maxWidth;
  display: flex;
  flex-direction: column;
}

.form__input,
.form__btn {
  width: 100%;
  max-width: 200px;
  padding: 1em;
  border: 1px solid black;
  margin: 0 auto;
}

.form__label {
  margin-bottom: 7px;
}

.form__input {
  margin: 0 auto;
  margin-bottom: 20px;
}

.form__body {
  margin-bottom: 20px;
}

.form__btn {
  margin-top: 10px;
  font-family: inherit;
  font-size: 0.9rem;
  transition: background-color 0.25s ease-in;
}
