/*===============================================
Header
===============================================*/
.header {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  padding: 2em 1em ;
  margin-bottom: 3em;
}

.header__logo {
  font-size: 2rem;
  font-weight: 900;
}

.header__nav {
  display: flex;
  //align-items: center;
  //gap: 25px;  
}


.header__nav {
  justify-content: space-between;
  gap: 25px;
}
/*===============================================
Burger menu
https://code-boxx.com/simple-responsive-pure-css-hamburger-menu/
===============================================*/
#hamburger {
  display: none; // should be none
  position: relative;
}



/* (B) HORIZONTAL MENU ITEMS */
#hamburger__items { 
  display: flex; 
  align-items: center;
}

#hamburger__items a {
  flex-grow: 1;
  flex-basis: 0;
  padding: 10px;
  text-align: center;
}


// Hide hamburger on big screens
.hamburger-icon { 
  display: none; 
}

// Hamburger small screen attributes
@media screen and (max-width: 768px) {
  // Hamburger links
  #hamburger__items a {
    display: block;
    width: 100%;
    border-top: 1px solid #333;
  }
 
  // Show the hamburger icon
  .hamburger-icon { 
    display: inline-block; 
    margin: 0 auto;
    font-style: normal;
    font-size: 1.2em;
    padding: 10px;

    position: fixed;
    height: 50px;
    width: 50px;
    border: 1px solid black;
    border-radius: 50px;
    text-align: center;
    z-index: 9;
    bottom: 25px;
    right: 25px;
  }

  .hamburger-icon:active{
    transform: scale(1.1);
    transition: transform 0.2s ease;
  }

  .header__nav { 
    display: none; // none
  }

  .header input:checked ~ .header__nav { 
    position: fixed;
    bottom: 95px;
    right: 0;
    width: 150px;
    
    padding: 50px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;

    display: flex; 
    flex-direction: column;
    align-items: center;
    gap: 50px;
    
    text-align: center;

    z-index: 9;
    animation: transitionIn 0.3s;
  }
}

/*===============================================
Media queries
===============================================*/
@media screen and (max-width: 768px) {
  .header__logo {
    font-size: 1.5rem;
    font-weight: 900;
  }
}
