/*===============================================
Links
===============================================*/
a {
  transition: color 250ms ease-in;
  color: rgb(0, 69, 82);

}

a:hover,
a:focus {
  color: rgb(165, 19, 19)
}
