<form action="/login" method="POST" class="form">
  <label for="username" class="form__label center"><b>Användarnamn</b></label>
  <input 
    type="text" 
    placeholder="Skriv ditt användarnamn" 
    name="username" 
    id="username"
    class="form__input"
  >
  
  <label for="password" class="form__label center"><b>Lösenord</b></label>
  <input 
    type="password" 
    placeholder="Skriv ditt lösenord" 
    name="password" 
    id="password"
    class="form__input"
  >

  <input type="submit" value="Login" class="form__btn">

  
  <% if (locals?.message) { %>
    <p class="center margin-bottom danger"><b><%= message %></b></p>
  <% } %>
</form>