/*===============================================
Utility classes
===============================================*/
.link-reset {
  text-decoration: none;
  color: inherit;
}

.active {
  font-weight: 700;
  color: red;
  text-decoration: underline;
  text-underline-offset: 5px;
}

.center {
  text-align: center;;
}

.column {
  display: flex;
  flex-direction: column;
}

.float {
  width: 100px;
  height: 100px;

  margin: 0 15px;
  border-radius: 100%;
  float: left;
}

.margin-bottom {
  margin-bottom: 0.7em;
}

.max-width-unset {
  max-width: unset;
}

.underline {
  text-decoration: underline;
}
